.card {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

.place {
  font-size: 14px;
}

.desc {
  font-size: 13px;
}

.star {
  color: goldenrod;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: grey;
}

.delete {
  background-color: red;
  margin: 5px auto;
}

.delete:hover {
  background-color: rgb(156, 4, 4);
}

.username {
  display: flex;
  gap: 4;
}
